<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'shortener/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shortener/css/bootstrap.css' %}">
</head>

<body>
    <div class="form-group">
        <h1>URL Shortener</h1>
        <form method="post">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            <span>{{form.non_field_errors}}</span>
            <button type="submit" value="submit" class="btn btn-primary">Short</button>

            {% if alias %}
                <div class="mt-3">The new alias:</div>
                <h3><a target="_blank" href="/{{ alias }}">{{ alias }}</a></h3>
            {% endif %}
        </form>
    </div>

    <script src="{% static 'shortener/js/bootstrap.js' %}"></script>
</body>
</html>